*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    background-color: aqua;
    width: 100%;
    position: fixed;
}
.header ul{
    display: flex;
    margin: 0px 0px;
    gap: 30px;
}
ul
{
    list-style: none;
    font-size: 25px;
    font-weight: 600;
}
.contener a{
    text-decoration: none;
    
}
.button{
    background-color: blueviolet;
    border-radius: 20px;
    padding: 10px 30px;
    transition: 1s;
}
.button a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}
.button:hover{
    background-color: rgb(233, 141, 21);
}
.bgimg{
    background-image: linear-gradient(rgb(0 0 0 / 47%),rgb(0 0 0 / 47%)),url(./image/bgimg.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* flex-direction: column; */
    background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center; 
flex-direction: column;
gap: 220px;
}
    

.clg{
 gap: 2vw;
 padding: 10px;
 width: 700px;
 background-color: aqua;
 line-height: 40px;
 text-align: center;
 box-shadow: 5px 5px 10px black;
 border-radius: 10px;
 }
 .clg h1{
    color: blue;
 }
  .button2{
    background-color: #0ff;
    border-radius: 20px;
    text-decoration: none;
    padding:  5px 40px;
    /* position: absolute; */
    /* bottom: 0px; */
    /* right: 575px; */
    transition: 1s;
}
.button2:hover{
    background-color: yellow;
}
.button2 a {
    color: #00f;
    font-size: 35px;
    text-decoration: none;
    font-weight: 400;
}
.about{
text-align: center;
margin-bottom: 30px;
}
.about h1{
    font-weight: 900;
    font-size: 38px;
}
.name1{
    text-align: center;
    padding: 70px 0px 0px 0px;
}
.right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    /* height: 300px; */
    /* background-color: blueviolet; */
    width: 50%;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px black; */
    border: 2px solid rgb(230, 223, 223);
}
.box p{
    font-size: 25px;
    color: black;
    padding: 40px;
    text-align: center;
}
.box h1{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.manoj img{
    border-radius: 5px;
    border: 2px solid #000;
    height: 420px;
}
.gal{
    height: 320px;
    width: 320px;
    display: flex;
    gap: 90px;
}
.gal img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
#mygallry{
    
}
.parent{
    margin: 90px 0px 30px 98px;
}
.name{
    text-align: center;
    padding: 70px 0px;
}
.blog{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 80px;
}
.under{
    height: 80vh;
    width: 30vw;
    background-color: rgb(223, 233, 222);
    box-shadow: 5px 5px 10px gainsboro;
    border-radius: 10px;
    
}
.under img{
    height: 360px;
    width: 100%;
    box-shadow:  0px 5px  maroon;
    
}
.under h1{
    font-size: 22px;
    padding: 10px 10px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
.under p{
    font-size: 16px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.post{
    height: 480px;
    width: 400px;
    background-color: rgb(241, 241, 236);
    box-shadow: 5px 5px 10px gainsboro;
    border-radius: 10px;
    
    
}
.post img{
    height: 360px;
    width: 100%;
    box-shadow:  0px 5px  maroon;
    
}
.post h1{
    font-size: 22px;
    padding: 10px 10px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
.post p{
    font-size: 16px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.add{
    height: 480px;
    width: 400px;
    background-color: rgb(247, 243, 247);
    box-shadow: 5px 5px 10px gainsboro;
    border-radius: 10px ;
    
}
.add img{
    height: 360px;
    width: 100%;
    box-shadow:  0px 5px  maroon;
    
}
.add h1{
    font-size: 22px;
    padding: 10px 10px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
.add p{
    font-size: 16px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact
{
padding: 0%;
background-color: aqua;
width: 100%;
height: 280px;

}

.contact1 img
{
font-size: 10px;
margin:70px 0 0px 170px;
height: 50px;
width: 280px;
}
.icon1 span
{
    font-size: 25px;
}
.icon1
{
display: flex;
text-align: center;
gap: 20px;
margin: 10px 0 0 170px;
font-size: 25px;
}
.line
{
margin: auto;
width: 1015px;

}
.linkedin
{
color: black;
}
.youtube
{
color:black;
}
.twitter
{
color: #000;
}
.facebook
{
color: #000;
}
.instagram
{
color: #000;
}
.Contact-us
{
color: #000;

}
.contact2
{

display: flex;
align-items: center;
justify-content:space-around;
margin-left:660px ;
}
.contact2 a
{
text-align: end;
color: black;
text-decoration: none;
padding: 10px;
gap: 10px ;
}
.footer
{
margin: 20px 20px 20px  160px ;
color: black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.footer h1
{
font-size: 13px;
}
.footer h1
{
    font-size: 14px;
}
.footer p
{
    color: rgb(22, 18, 18);
    font-size: 12px;
    margin-top: 6px;
}
.myall
{
    grid:40px ;
    display: flex;
    background-color: rgb(14, 97, 97);
    padding: 20px 0;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-evenly;
}
.formContact
{
    border: 2px solid black;
    width: 450px;
    padding: 20px;
}
.contactUs2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #fadde1;
}
.conc1 {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color:#b30738;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
